
<%= f.collection_select(:ex_ability_id, ExAbility.all, :id, :name, {include_blank: "---"}, {class:"select-box", id:"ex-ability"}) %>
<select class="select-box" id="limit-ability" name="fagrid_member[limit_ability_id]">
  <option value="" >---</option>
</select>